homepage.intro.blurb.code: 'homepage.intro.shanti'
enable.localhost: 'no'
default.perspective.code: 'tib.alpha'
default.view.code: 'roman.scholar'
server.environment: 'local' # Valid values: local, development, staging and production
import.interval: 50